/* GLOBAL SECTION */
html {
    font-size: 16px;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
}

.lead {
    font-size: 1rem;
}

main {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button-image {
    height: 11rem;
}

.modal-image {
    width: 100%;
}

/* NAVBAR SECTION */
.navbar {
    font-weight: 500;
    background: #ffffff;
    box-shadow: 2px 2px 5px #3292a6;
}

.navbar .logo {
    height: 3rem;
}

/* HEADER SECTION */
#header-section {
    background: url('../img/back_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 41rem;
    color: white;
}

#header-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 41rem;
    background: rgba(50, 146, 166, 0.9);
}

#header-section .header-inner {
    padding-top: 10rem;
}

/* CONTACTS SECTION */
#contacts-section #map, #contacts-section .card {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* REVIEWS SECTION */
#reviews-section .card {
    height: 20rem;
    background: #f7f7f7;
}

#reviews-section .btn {
    margin: auto;
    text-align: center;
}

/* MEDIA QUIRIES */
@media (max-width: 760px) {
    html {
        font-size: 14px;
    }
    .button-image {
        height: 6rem;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 11px;
    }
    .button-image {
        height: 5.2rem;
    }
}

@media (min-width:761px) and (max-width: 980px) {
    html {
        font-size: 15px;
    }
    .button-image {
        height: 8rem;
    }
}